{% autoescape false %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>App</title>
    </head>

    <body>
        <div>
            <table border="1">
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Temperature</th>
                </tr>
                {% for i in data%}
                <tr>
                    <td>{{ i['id'] }}</td>
                    <td>{{ i['name'] }}</td>
                    <td>{{ i['temperature'] }}</td>
                </tr>
                {% endfor %}

              </table>
        </div>
    </body>
</html>
{% endautoescape %}